In [2]:
import pandas as pd
import os

# Load CMS data (example: NH_ProviderInfo.csv)
cms_provider_info = pd.read_csv('data/NH_ProviderInfo_Nov2024.csv')

# Load cost of living data
col_data = pd.read_csv('data/cost_of_living_data.csv')

# Load minimum wage data
min_wage_data = pd.read_csv('data/min_wage.csv')

# Load BLS earnings data
bls_data = pd.read_csv('data/bls_earnings_2023.csv')

In [3]:
#Look at CMS Data: 
print(cms_provider_info.head())
print(cms_provider_info.info())

  CMS Certification Number (CCN)                                Provider Name  \
0                         015009                     BURNS NURSING HOME, INC.
1                         015010               COOSA VALLEY HEALTHCARE CENTER
2                         015012                   HIGHLANDS HEALTH AND REHAB
3                         015014  EASTVIEW REHABILITATION & HEALTHCARE CENTER
4                         015015                PLANTATION MANOR NURSING HOME

              Provider Address     City/Town State  ZIP Code  \
0         701 MONROE STREET NW  RUSSELLVILLE    AL     35653
1       260 WEST WALNUT STREET     SYLACAUGA    AL     35150
2          380 WOODS COVE ROAD    SCOTTSBORO    AL     35768
3     7755 FOURTH AVENUE SOUTH    BIRMINGHAM    AL     35206
4  6450 OLD TUSCALOOSA HIGHWAY      MC CALLA    AL     35111

   Telephone Number  Provider SSA County Code County/Parish  \
0        2563324110                       290      Franklin
1        2562495604                       600     Talladega
2        2562183708                       350       Jackson
3        2058330146                       360     Jefferson
4        2054776161                       360     Jefferson

             Ownership Type  ...  \
0  For profit - Corporation  ...
1  For profit - Corporation  ...
2       Government - County  ...
3   For profit - Individual  ...
4   For profit - Individual  ...

   Number of Citations from Infection Control Inspections  Number of Fines  \
0                                                NaN                     1
1                                                0.0                     0
2                                                NaN                     0
3                                                0.0                     0
4                                                NaN                     0

   Total Amount of Fines in Dollars Number of Payment Denials  \
0                           23989.0                         0
1                               0.0                         0
2                               0.0                         0
3                               0.0                         0
4                               0.0                         0

  Total Number of Penalties                                       Location  \
0                         1     701 MONROE STREET NW,RUSSELLVILLE,AL,35653
1                         0      260 WEST WALNUT STREET,SYLACAUGA,AL,35150
2                         0        380 WOODS COVE ROAD,SCOTTSBORO,AL,35768
3                         0   7755 FOURTH AVENUE SOUTH,BIRMINGHAM,AL,35206
4                         0  6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111

  Latitude Longitude  Geocoding Footnote Processing Date
0  34.5149   -87.736                 NaN      2024-11-01
1  33.1637   -86.254                 NaN      2024-11-01
2  34.6611   -86.047                 NaN      2024-11-01
3  33.5595   -86.722                 NaN      2024-11-01
4  33.3221   -87.034                 NaN      2024-11-01

[5 rows x 103 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14807 entries, 0 to 14806
Columns: 103 entries, CMS Certification Number (CCN) to Processing Date
dtypes: float64(70), int64(9), object(24)
memory usage: 11.6+ MB
None

In [4]:
#Drop unnecessary columns
cms_provider_info = cms_provider_info[['State', 'Provider Name', 'Overall Rating', 'Staffing Rating', 'QM Rating']]

In [7]:
print(cms_provider_info.head())
print(cms_provider_info.shape)

  State                                Provider Name  Overall Rating  \
0    AL                     BURNS NURSING HOME, INC.             2.0
1    AL               COOSA VALLEY HEALTHCARE CENTER             4.0
2    AL                   HIGHLANDS HEALTH AND REHAB             4.0
3    AL  EASTVIEW REHABILITATION & HEALTHCARE CENTER             2.0
4    AL                PLANTATION MANOR NURSING HOME             2.0

   Staffing Rating  QM Rating
0              4.0        4.0
1              3.0        3.0
2              3.0        2.0
3              1.0        2.0
4              4.0        2.0
(14807, 5)

In [9]:
print(col_data.head())
print(col_data.info())

  ID            Rank  State  Index  Grocery  Housing  Utilities  \
0  1  West Virginia    84.8   98.4     61.3     96.4       93.1
1  2         Kansas    86.7   94.6     70.7    100.8       92.2
2  3    Mississippi    87.5   96.8     72.2     89.4       90.1
3  4       Oklahoma    87.9   96.5     74.7     96.5       90.6
4  5        Alabama    88.8   97.8     71.4    100.5       90.3

   Transportation  Health   Misc.
0            96.8     91.2    NaN
1            92.6     90.3    NaN
2            95.6     93.8    NaN
3            99.3     90.5    NaN
4            90.1     95.8    NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              53 non-null     object
 1   Rank            53 non-null     object
 2   State           53 non-null     float64
 3   Index           53 non-null     float64
 4   Grocery         53 non-null     float64
 5   Housing         53 non-null     float64
 6   Utilities       53 non-null     float64
 7   Transportation  53 non-null     float64
 8   Health          53 non-null     float64
 9   Misc.           0 non-null      float64
dtypes: float64(8), object(2)
memory usage: 4.3+ KB
None

In [10]:
#Minimum Wage Data
print(min_wage_data.head())
print(min_wage_data.info())

        State Minimum Wage  Increases Planned
0     Alabama       $7.25                   0
1      Alaska      $11.91                   0
2     Arizona      $14.70                   0
3    Arkansas      $11.00                   0
4  California      $16.50                   0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              55 non-null     object
 1   Minimum Wage       55 non-null     object
 2   Increases Planned  55 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.4+ KB
None

In [11]:
#BLS Data
print(bls_data.head())
print(bls_data.info())

   AREA AREA_TITLE  AREA_TYPE PRIM_STATE  NAICS     NAICS_TITLE  \
0     1    Alabama          2         AL      0  Cross-industry
1     1    Alabama          2         AL      0  Cross-industry
2     1    Alabama          2         AL      0  Cross-industry
3     1    Alabama          2         AL      0  Cross-industry
4     1    Alabama          2         AL      0  Cross-industry

          I_GROUP  OWN_CODE OCC_CODE                        OCC_TITLE  ...  \
0  cross-industry      1235  00-0000                  All Occupations  ...
1  cross-industry      1235  11-0000           Management Occupations  ...
2  cross-industry      1235  11-1011                 Chief Executives  ...
3  cross-industry      1235  11-1021  General and Operations Managers  ...
4  cross-industry      1235  11-1031                      Legislators  ...

  H_MEDIAN H_PCT75 H_PCT90 A_PCT10  A_PCT25  A_MEDIAN  A_PCT75  A_PCT90  \
0    19.88   30.09   46.18  22,620   29,580    41,350   62,580   96,050
1    47.95   67.22   95.44  50,710   73,180    99,740  139,810  198,520
2    79.48  102.01       #  65,700  123,960   165,320  212,180        #
3    49.67   78.25  112.54  48,080   72,260   103,320  162,760  234,080
4        *       *       *  18,320   19,670    24,470   45,050   55,070

  ANNUAL HOURLY
0    NaN    NaN
1    NaN    NaN
2    NaN    NaN
3    NaN    NaN
4   True    NaN

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37676 entries, 0 to 37675
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AREA          37676 non-null  int64
 1   AREA_TITLE    37676 non-null  object
 2   AREA_TYPE     37676 non-null  int64
 3   PRIM_STATE    37676 non-null  object
 4   NAICS         37676 non-null  int64
 5   NAICS_TITLE   37676 non-null  object
 6   I_GROUP       37676 non-null  object
 7   OWN_CODE      37676 non-null  int64
 8   OCC_CODE      37676 non-null  object
 9   OCC_TITLE     37676 non-null  object
 10  O_GROUP       37676 non-null  object
 11  TOT_EMP       37676 non-null  object
 12  EMP_PRSE      37676 non-null  object
 13  JOBS_1000     37676 non-null  object
 14  LOC_QUOTIENT  37676 non-null  object
 15  PCT_TOTAL     0 non-null      float64
 16  PCT_RPT       0 non-null      float64
 17  H_MEAN        37676 non-null  object
 18  A_MEAN        37676 non-null  object
 19  MEAN_PRSE     37676 non-null  object
 20  H_PCT10       37676 non-null  object
 21  H_PCT25       37676 non-null  object
 22  H_MEDIAN      37676 non-null  object
 23  H_PCT75       37676 non-null  object
 24  H_PCT90       37676 non-null  object
 25  A_PCT10       37676 non-null  object
 26  A_PCT25       37676 non-null  object
 27  A_MEDIAN      37676 non-null  object
 28  A_PCT75       37676 non-null  object
 29  A_PCT90       37676 non-null  object
 30  ANNUAL        2642 non-null   object
 31  HOURLY        159 non-null    object
dtypes: float64(2), int64(4), object(26)
memory usage: 9.2+ MB
None