In [41]:
import pandas as pd
import os

# Load CMS data (example: NH_ProviderInfo.csv)
cms_provider_info = pd.read_csv('../data/NH_ProviderInfo_Nov2024.csv')

# Load cost of living data
col_data = pd.read_csv('../data/cost_of_living_data.csv')

# Load minimum wage data
min_wage_data = pd.read_csv('../data/min_wage.csv')

# Load BLS earnings data
bls_data = pd.read_csv('../data/bls_earnings_2023.csv')

In [42]:
#Look at CMS Data: 
print(cms_provider_info.head())
print(cms_provider_info.info())

  CMS Certification Number (CCN)                                Provider Name  \
0                         015009                     BURNS NURSING HOME, INC.
1                         015010               COOSA VALLEY HEALTHCARE CENTER
2                         015012                   HIGHLANDS HEALTH AND REHAB
3                         015014  EASTVIEW REHABILITATION & HEALTHCARE CENTER
4                         015015                PLANTATION MANOR NURSING HOME

              Provider Address     City/Town State  ZIP Code  \
0         701 MONROE STREET NW  RUSSELLVILLE    AL     35653
1       260 WEST WALNUT STREET     SYLACAUGA    AL     35150
2          380 WOODS COVE ROAD    SCOTTSBORO    AL     35768
3     7755 FOURTH AVENUE SOUTH    BIRMINGHAM    AL     35206
4  6450 OLD TUSCALOOSA HIGHWAY      MC CALLA    AL     35111

   Telephone Number  Provider SSA County Code County/Parish  \
0        2563324110                       290      Franklin
1        2562495604                       600     Talladega
2        2562183708                       350       Jackson
3        2058330146                       360     Jefferson
4        2054776161                       360     Jefferson

             Ownership Type  ...  \
0  For profit - Corporation  ...
1  For profit - Corporation  ...
2       Government - County  ...
3   For profit - Individual  ...
4   For profit - Individual  ...

   Number of Citations from Infection Control Inspections  Number of Fines  \
0                                                NaN                     1
1                                                0.0                     0
2                                                NaN                     0
3                                                0.0                     0
4                                                NaN                     0

   Total Amount of Fines in Dollars Number of Payment Denials  \
0                           23989.0                         0
1                               0.0                         0
2                               0.0                         0
3                               0.0                         0
4                               0.0                         0

  Total Number of Penalties                                       Location  \
0                         1     701 MONROE STREET NW,RUSSELLVILLE,AL,35653
1                         0      260 WEST WALNUT STREET,SYLACAUGA,AL,35150
2                         0        380 WOODS COVE ROAD,SCOTTSBORO,AL,35768
3                         0   7755 FOURTH AVENUE SOUTH,BIRMINGHAM,AL,35206
4                         0  6450 OLD TUSCALOOSA HIGHWAY,MC CALLA,AL,35111

  Latitude Longitude  Geocoding Footnote Processing Date
0  34.5149   -87.736                 NaN      2024-11-01
1  33.1637   -86.254                 NaN      2024-11-01
2  34.6611   -86.047                 NaN      2024-11-01
3  33.5595   -86.722                 NaN      2024-11-01
4  33.3221   -87.034                 NaN      2024-11-01

[5 rows x 103 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14807 entries, 0 to 14806
Columns: 103 entries, CMS Certification Number (CCN) to Processing Date
dtypes: float64(70), int64(9), object(24)
memory usage: 11.6+ MB
None

In [43]:
cms_provider_info['State'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'GU'], dtype=object)

In [44]:
#Drop unnecessary columns
cms_provider_info = cms_provider_info[['State', 'Provider Name', 'Overall Rating', 'Staffing Rating', 'QM Rating', 'Latitude', 'Longitude']]

In [45]:
print(cms_provider_info.head())
print(cms_provider_info.shape)

  State                                Provider Name  Overall Rating  \
0    AL                     BURNS NURSING HOME, INC.             2.0
1    AL               COOSA VALLEY HEALTHCARE CENTER             4.0
2    AL                   HIGHLANDS HEALTH AND REHAB             4.0
3    AL  EASTVIEW REHABILITATION & HEALTHCARE CENTER             2.0
4    AL                PLANTATION MANOR NURSING HOME             2.0

   Staffing Rating  QM Rating  Latitude  Longitude
0              4.0        4.0   34.5149    -87.736
1              3.0        3.0   33.1637    -86.254
2              3.0        2.0   34.6611    -86.047
3              1.0        2.0   33.5595    -86.722
4              4.0        2.0   33.3221    -87.034
(14807, 7)

In [46]:
#col_data.head()
col_data['State'].unique()

array(['West Virginia\xa0', 'Kansas\xa0', 'Mississippi\xa0',
       'Oklahoma\xa0', 'Alabama\xa0', 'Missouri\xa0', 'Arkansas\xa0',
       'Tennessee\xa0', 'Iowa\xa0', 'Indiana\xa0', 'Georgia\xa0',
       'North Dakota\xa0', 'Michigan\xa0', 'South Dakota\xa0',
       'Texas\xa0', 'Nebraska\xa0', 'Kentucky\xa0', 'New Mexico\xa0',
       'Louisiana\xa0', 'Montana\xa0', 'Ohio\xa0', 'Pennsylvania\xa0',
       'South Carolina\xa0', 'Minnesota\xa0', 'Wyoming\xa0',
       'Illinois\xa0', 'North Carolina\xa0', 'Maryland\xa0',
       'Wisconsin\xa0', 'Nevada\xa0', 'Delaware\xa0', 'Virginia\xa0',
       'Idaho\xa0', 'Florida\xa0', 'Puerto Rico\xa0', 'Colorado\xa0',
       'Utah\xa0', 'Oregon\xa0', 'New Hampshire\xa0', 'Connecticut\xa0',
       'Rhode Island\xa0', 'Arizona\xa0', 'Maine\xa0', 'Washington\xa0',
       'Vermont\xa0', 'New Jersey\xa0', 'New York\xa0', 'Alaska\xa0',
       'District of Columbia\xa0', 'California\xa0', 'Massachusetts\xa0',
       'Hawaii\xa0', 'U.S.'], dtype=object)

In [47]:
#Remove trailing spaces
col_data['State'] = col_data['State'].str.strip()
col_data['State'].unique()

array(['West Virginia', 'Kansas', 'Mississippi', 'Oklahoma', 'Alabama',
       'Missouri', 'Arkansas', 'Tennessee', 'Iowa', 'Indiana', 'Georgia',
       'North Dakota', 'Michigan', 'South Dakota', 'Texas', 'Nebraska',
       'Kentucky', 'New Mexico', 'Louisiana', 'Montana', 'Ohio',
       'Pennsylvania', 'South Carolina', 'Minnesota', 'Wyoming',
       'Illinois', 'North Carolina', 'Maryland', 'Wisconsin', 'Nevada',
       'Delaware', 'Virginia', 'Idaho', 'Florida', 'Puerto Rico',
       'Colorado', 'Utah', 'Oregon', 'New Hampshire', 'Connecticut',
       'Rhode Island', 'Arizona', 'Maine', 'Washington', 'Vermont',
       'New Jersey', 'New York', 'Alaska', 'District of Columbia',
       'California', 'Massachusetts', 'Hawaii', 'U.S.'], dtype=object)

In [48]:
#remove us total row from data
col_data = col_data[~col_data['State'].isin(['U.S.'])]

In [49]:
#check unique states in cost of living data again
col_data['State'].unique()

array(['West Virginia', 'Kansas', 'Mississippi', 'Oklahoma', 'Alabama',
       'Missouri', 'Arkansas', 'Tennessee', 'Iowa', 'Indiana', 'Georgia',
       'North Dakota', 'Michigan', 'South Dakota', 'Texas', 'Nebraska',
       'Kentucky', 'New Mexico', 'Louisiana', 'Montana', 'Ohio',
       'Pennsylvania', 'South Carolina', 'Minnesota', 'Wyoming',
       'Illinois', 'North Carolina', 'Maryland', 'Wisconsin', 'Nevada',
       'Delaware', 'Virginia', 'Idaho', 'Florida', 'Puerto Rico',
       'Colorado', 'Utah', 'Oregon', 'New Hampshire', 'Connecticut',
       'Rhode Island', 'Arizona', 'Maine', 'Washington', 'Vermont',
       'New Jersey', 'New York', 'Alaska', 'District of Columbia',
       'California', 'Massachusetts', 'Hawaii'], dtype=object)

In [50]:
#Minimum Wage Data
print(min_wage_data.head())
print(min_wage_data.info())

        State Minimum Wage  Increases Planned
0     Alabama       $7.25                   0
1      Alaska      $11.91                   0
2     Arizona      $14.70                   0
3    Arkansas      $11.00                   0
4  California      $16.50                   0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   State              55 non-null     object
 1   Minimum Wage       55 non-null     object
 2   Increases Planned  55 non-null     int64
dtypes: int64(1), object(2)
memory usage: 1.4+ KB
None

In [51]:
# Remove $ symbol and convert to numeric
min_wage_data['Minimum Wage'] = min_wage_data['Minimum Wage'].str.replace('$', '', regex=False)
min_wage_data['Minimum Wage'] = pd.to_numeric(min_wage_data['Minimum Wage'])

# Verify the changes
print(min_wage_data.head())
print(min_wage_data['Minimum Wage'].dtype)

        State  Minimum Wage  Increases Planned
0     Alabama          7.25                  0
1      Alaska         11.91                  0
2     Arizona         14.70                  0
3    Arkansas         11.00                  0
4  California         16.50                  0
float64

In [52]:
min_wage_data['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia',
       'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'],
      dtype=object)

In [53]:
#BLS Data
print(bls_data.head())
print(bls_data.info())
bls_data.columns

   AREA AREA_TITLE  AREA_TYPE PRIM_STATE  NAICS     NAICS_TITLE  \
0     1    Alabama          2         AL      0  Cross-industry
1     1    Alabama          2         AL      0  Cross-industry
2     1    Alabama          2         AL      0  Cross-industry
3     1    Alabama          2         AL      0  Cross-industry
4     1    Alabama          2         AL      0  Cross-industry

          I_GROUP  OWN_CODE OCC_CODE                        OCC_TITLE  ...  \
0  cross-industry      1235  00-0000                  All Occupations  ...
1  cross-industry      1235  11-0000           Management Occupations  ...
2  cross-industry      1235  11-1011                 Chief Executives  ...
3  cross-industry      1235  11-1021  General and Operations Managers  ...
4  cross-industry      1235  11-1031                      Legislators  ...

  H_MEDIAN H_PCT75 H_PCT90 A_PCT10  A_PCT25  A_MEDIAN  A_PCT75  A_PCT90  \
0    19.88   30.09   46.18  22,620   29,580    41,350   62,580   96,050
1    47.95   67.22   95.44  50,710   73,180    99,740  139,810  198,520
2    79.48  102.01       #  65,700  123,960   165,320  212,180        #
3    49.67   78.25  112.54  48,080   72,260   103,320  162,760  234,080
4        *       *       *  18,320   19,670    24,470   45,050   55,070

  ANNUAL HOURLY
0    NaN    NaN
1    NaN    NaN
2    NaN    NaN
3    NaN    NaN
4   True    NaN

[5 rows x 32 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37676 entries, 0 to 37675
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   AREA          37676 non-null  int64
 1   AREA_TITLE    37676 non-null  object
 2   AREA_TYPE     37676 non-null  int64
 3   PRIM_STATE    37676 non-null  object
 4   NAICS         37676 non-null  int64
 5   NAICS_TITLE   37676 non-null  object
 6   I_GROUP       37676 non-null  object
 7   OWN_CODE      37676 non-null  int64
 8   OCC_CODE      37676 non-null  object
 9   OCC_TITLE     37676 non-null  object
 10  O_GROUP       37676 non-null  object
 11  TOT_EMP       37676 non-null  object
 12  EMP_PRSE      37676 non-null  object
 13  JOBS_1000     37676 non-null  object
 14  LOC_QUOTIENT  37676 non-null  object
 15  PCT_TOTAL     0 non-null      float64
 16  PCT_RPT       0 non-null      float64
 17  H_MEAN        37676 non-null  object
 18  A_MEAN        37676 non-null  object
 19  MEAN_PRSE     37676 non-null  object
 20  H_PCT10       37676 non-null  object
 21  H_PCT25       37676 non-null  object
 22  H_MEDIAN      37676 non-null  object
 23  H_PCT75       37676 non-null  object
 24  H_PCT90       37676 non-null  object
 25  A_PCT10       37676 non-null  object
 26  A_PCT25       37676 non-null  object
 27  A_MEDIAN      37676 non-null  object
 28  A_PCT75       37676 non-null  object
 29  A_PCT90       37676 non-null  object
 30  ANNUAL        2642 non-null   object
 31  HOURLY        159 non-null    object
dtypes: float64(2), int64(4), object(26)
memory usage: 9.2+ MB
None

Index(['AREA', 'AREA_TITLE', 'AREA_TYPE', 'PRIM_STATE', 'NAICS', 'NAICS_TITLE',
       'I_GROUP', 'OWN_CODE', 'OCC_CODE', 'OCC_TITLE', 'O_GROUP', 'TOT_EMP',
       'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'PCT_TOTAL', 'PCT_RPT',
       'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN',
       'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75',
       'A_PCT90', 'ANNUAL', 'HOURLY'],
      dtype='object')

In [54]:
#Identify relevant occ_codes for analysis for Home Health Aides, Orderlies, and Nursing Assistancts
bls_data[['OCC_CODE', 'OCC_TITLE']].drop_duplicates()

      OCC_CODE                               OCC_TITLE
0      00-0000                         All Occupations
1      11-0000                  Management Occupations
2      11-1011                        Chief Executives
3      11-1021         General and Operations Managers
4      11-1031                             Legislators
...        ...                                     ...
4201   47-5043                    Roof Bolters, Mining
6570   33-3052             Transit and Railroad Police
11264  51-7031                      Model Makers, Wood
16384  51-2061  Timing Device Assemblers and Adjusters
16437  51-7032                     Patternmakers, Wood

[853 rows x 2 columns]

In [55]:
# List of relevant occupation codes
relevant_occ_codes = ['31-1120', '31-1131', '31-1132']  

# Filter the BLS data
bls_data = bls_data[bls_data['OCC_CODE'].isin(relevant_occ_codes)]

# Verify the result
print(bls_data.head())

      AREA AREA_TITLE  AREA_TYPE PRIM_STATE  NAICS     NAICS_TITLE  \
335      1    Alabama          2         AL      0  Cross-industry
336      1    Alabama          2         AL      0  Cross-industry
337      1    Alabama          2         AL      0  Cross-industry
1022     2     Alaska          2         AK      0  Cross-industry
1023     2     Alaska          2         AK      0  Cross-industry

             I_GROUP  OWN_CODE OCC_CODE                            OCC_TITLE  \
335   cross-industry      1235  31-1120  Home Health and Personal Care Aides
336   cross-industry      1235  31-1131                   Nursing Assistants
337   cross-industry      1235  31-1132                            Orderlies
1022  cross-industry      1235  31-1120  Home Health and Personal Care Aides
1023  cross-industry      1235  31-1131                   Nursing Assistants

      ... H_MEDIAN H_PCT75 H_PCT90 A_PCT10 A_PCT25  A_MEDIAN  A_PCT75 A_PCT90  \
335   ...    11.45   13.65   14.69  18,230  21,390    23,810   28,390  30,550
336   ...    14.69   16.69   18.02  23,910  28,030    30,540   34,720  37,470
337   ...    14.38   15.21   18.78  23,790  28,360    29,900   31,630  39,060
1022  ...    17.81   20.49   22.22  29,210  34,740    37,050   42,610  46,220
1023  ...    21.87   24.26   28.02  40,060  40,190    45,480   50,470  58,270

     ANNUAL HOURLY
335     NaN    NaN
336     NaN    NaN
337     NaN    NaN
1022    NaN    NaN
1023    NaN    NaN

[5 rows x 32 columns]

In [56]:
#Check data types
bls_data.dtypes

AREA              int64
AREA_TITLE       object
AREA_TYPE         int64
PRIM_STATE       object
NAICS             int64
NAICS_TITLE      object
I_GROUP          object
OWN_CODE          int64
OCC_CODE         object
OCC_TITLE        object
O_GROUP          object
TOT_EMP          object
EMP_PRSE         object
JOBS_1000        object
LOC_QUOTIENT     object
PCT_TOTAL       float64
PCT_RPT         float64
H_MEAN           object
A_MEAN           object
MEAN_PRSE        object
H_PCT10          object
H_PCT25          object
H_MEDIAN         object
H_PCT75          object
H_PCT90          object
A_PCT10          object
A_PCT25          object
A_MEDIAN         object
A_PCT75          object
A_PCT90          object
ANNUAL           object
HOURLY           object
dtype: object

In [57]:
# Convert tot_emp and hourly_median_wage to numeric
bls_data['TOT_EMP'] = bls_data['TOT_EMP'].str.replace(',', '', regex=False)
bls_data['TOT_EMP'] = pd.to_numeric(bls_data['TOT_EMP'], errors='coerce')
bls_data['H_MEDIAN'] = pd.to_numeric(bls_data['H_MEDIAN'], errors='coerce')

# Verify the conversion
print(bls_data[['TOT_EMP']].head())
print(bls_data.dtypes)

      TOT_EMP
335     19910
336     22430
337       500
1022     5660
1023     1710
AREA              int64
AREA_TITLE       object
AREA_TYPE         int64
PRIM_STATE       object
NAICS             int64
NAICS_TITLE      object
I_GROUP          object
OWN_CODE          int64
OCC_CODE         object
OCC_TITLE        object
O_GROUP          object
TOT_EMP           int64
EMP_PRSE         object
JOBS_1000        object
LOC_QUOTIENT     object
PCT_TOTAL       float64
PCT_RPT         float64
H_MEAN           object
A_MEAN           object
MEAN_PRSE        object
H_PCT10          object
H_PCT25          object
H_MEDIAN        float64
H_PCT75          object
H_PCT90          object
A_PCT10          object
A_PCT25          object
A_MEDIAN         object
A_PCT75          object
A_PCT90          object
ANNUAL           object
HOURLY           object
dtype: object

In [58]:
bls_data['PRIM_STATE'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'GU', 'PR', 'VI'],
      dtype=object)

In [59]:
#Drop unnecessary columns
bls_data = bls_data[['AREA_TITLE', 'PRIM_STATE', 'OCC_CODE', 'OCC_TITLE','TOT_EMP' ,'H_MEDIAN']]

In [60]:
us_states = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR', 'California': 'CA',
    'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE', 'District of Columbia': 'DC', 'Florida': 'FL', 'Georgia': 'GA', 'Guam': 'GR',
    'Hawaii': 'HI', 'Idaho': 'ID', 'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA',
    'Kansas': 'KS', 'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV', 'New Hampshire': 'NH',
    'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY', 'North Carolina': 'NC',
    'North Dakota': 'ND', 'Northern Mariana Islands': 'NMI', 'Ohio': 'OH', 'Oklahoma': 'OK', 'Oregon': 'OR', 'Pennsylvania': 'PA', 'Puerto Rico': 'PR',
    'Rhode Island': 'RI', 'South Carolina': 'SC', 'South Dakota': 'SD', 'Tennessee': 'TN',
    'Texas': 'TX', 'Utah': 'UT', 'Vermont': 'VT', 'Virginia': 'VA', 'Virgin Islands': 'VI', 'Washington': 'WA',
    'West Virginia': 'WV', 'Wisconsin': 'WI', 'Wyoming': 'WY'
}

In [61]:
def standardize_state(state_column):
    return state_column.map(lambda x: us_states[x] if x in us_states else x)

In [62]:
col_data['State'] = standardize_state(col_data['State'])
min_wage_data['State'] = standardize_state(min_wage_data['State'])

In [63]:
print(col_data['State'].unique())
print(min_wage_data['State'].unique())
print(cms_provider_info['State'].unique())
print(bls_data['PRIM_STATE'].unique())

['WV' 'KS' 'MS' 'OK' 'AL' 'MO' 'AR' 'TN' 'IA' 'IN' 'GA' 'ND' 'MI' 'SD'
 'TX' 'NE' 'KY' 'NM' 'LA' 'MT' 'OH' 'PA' 'SC' 'MN' 'WY' 'IL' 'NC' 'MD'
 'WI' 'NV' 'DE' 'VA' 'ID' 'FL' 'PR' 'CO' 'UT' 'OR' 'NH' 'CT' 'RI' 'AZ'
 'ME' 'WA' 'VT' 'NJ' 'NY' 'AK' 'DC' 'CA' 'MA' 'HI']
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'GR' 'HI' 'ID'
 'IL' 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT'
 'NE' 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'NMI' 'OH' 'OK' 'OR' 'PA' 'PR'
 'RI' 'SC' 'SD' 'TN' 'TX' 'UT' 'VT' 'VI' 'VA' 'WA' 'WV' 'WI' 'WY']
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'PR' 'RI' 'SC'
 'SD' 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'GU']
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD'
 'TN' 'TX' 'UT' 'VT' 'VA' 'WA' 'WV' 'WI' 'WY' 'GU' 'PR' 'VI']

In [64]:
# Print column names for each dataset
print("Cost of Living Data Columns:")
print(col_data.columns)

print("\nMinimum Wage Data Columns:")
print(min_wage_data.columns)

print("\nBLS Data Columns:")
print(bls_data.columns)

print("\nProvider Data Columns:")
print(cms_provider_info.columns)

Cost of Living Data Columns:
Index(['Rank', 'State', 'Index', 'Grocery', 'Housing', 'Utilities',
       'Transportation', 'Health ', 'Misc.'],
      dtype='object')

Minimum Wage Data Columns:
Index(['State', 'Minimum Wage', 'Increases Planned'], dtype='object')

BLS Data Columns:
Index(['AREA_TITLE', 'PRIM_STATE', 'OCC_CODE', 'OCC_TITLE', 'TOT_EMP',
       'H_MEDIAN'],
      dtype='object')

Provider Data Columns:
Index(['State', 'Provider Name', 'Overall Rating', 'Staffing Rating',
       'QM Rating', 'Latitude', 'Longitude'],
      dtype='object')

In [65]:
# Function to standardize column headers
def clean_column_headers(df):
    df.columns = df.columns.str.lower().str.replace(' ', '_').str.replace('-', '_')
    return df

# Apply the function to each dataset
col_data = clean_column_headers(col_data)
min_wage_data = clean_column_headers(min_wage_data)
bls_data = clean_column_headers(bls_data)
provider_data = clean_column_headers(cms_provider_info)

In [66]:
# Verify cleaned column headers
print("Updated Cost of Living Data Columns:")
print(col_data.columns)

print("\nUpdated Minimum Wage Data Columns:")
print(min_wage_data.columns)

print("\nUpdated BLS Data Columns:")
print(bls_data.columns)

print("\nUpdated Provider Data Columns:")
print(provider_data.columns)

Updated Cost of Living Data Columns:
Index(['rank', 'state', 'index', 'grocery', 'housing', 'utilities',
       'transportation', 'health ', 'misc.'],
      dtype='object')

Updated Minimum Wage Data Columns:
Index(['state', 'minimum_wage', 'increases_planned'], dtype='object')

Updated BLS Data Columns:
Index(['area_title', 'prim_state', 'occ_code', 'occ_title', 'tot_emp',
       'h_median'],
      dtype='object')

Updated Provider Data Columns:
Index(['state', 'provider_name', 'overall_rating', 'staffing_rating',
       'qm_rating', 'latitude', 'longitude'],
      dtype='object')

In [67]:

# Standardize column names and clean up inconsistencies
col_data.rename(columns={
    'health ': 'health',
    'index': 'cost_of_living_index'
}, inplace=True)

min_wage_data.rename(columns={}, inplace=True)  # No changes for now

bls_data.rename(columns={
    'prim_state': 'state',
    'h_median': 'hourly_median_wage'
}, inplace=True)

provider_data.rename(columns={}, inplace=True)  # No changes for now

In [68]:
print("Updated Cost of Living Data Columns:")
print(col_data.columns)

print("\nUpdated Minimum Wage Data Columns:")
print(min_wage_data.columns)

print("\nUpdated BLS Data Columns:")
print(bls_data.columns)

print("\nUpdated Provider Data Columns:")
print(provider_data.columns)

Updated Cost of Living Data Columns:
Index(['rank', 'state', 'cost_of_living_index', 'grocery', 'housing',
       'utilities', 'transportation', 'health ', 'misc.'],
      dtype='object')

Updated Minimum Wage Data Columns:
Index(['state', 'minimum_wage', 'increases_planned'], dtype='object')

Updated BLS Data Columns:
Index(['area_title', 'state', 'occ_code', 'occ_title', 'tot_emp',
       'hourly_median_wage'],
      dtype='object')

Updated Provider Data Columns:
Index(['state', 'provider_name', 'overall_rating', 'staffing_rating',
       'qm_rating', 'latitude', 'longitude'],
      dtype='object')

In [69]:
# Check column types for all datasets
datasets = {
    'Cost of Living': col_data,
    'Minimum Wage': min_wage_data,
    'BLS': bls_data,
    'Provider Data': provider_data
}

for name, df in datasets.items():
    print(f"\n{name} Dataset Types:")
    print(df.dtypes)

Cost of Living Dataset Types:
rank                     object
state                    object
cost_of_living_index    float64
grocery                 float64
housing                 float64
utilities               float64
transportation          float64
health                  float64
misc.                   float64
dtype: object

Minimum Wage Dataset Types:
state                 object
minimum_wage         float64
increases_planned      int64
dtype: object

BLS Dataset Types:
area_title             object
state                  object
occ_code               object
occ_title              object
tot_emp                 int64
hourly_median_wage    float64
dtype: object

Provider Data Dataset Types:
state               object
provider_name       object
overall_rating     float64
staffing_rating    float64
qm_rating          float64
latitude           float64
longitude          float64
dtype: object

In [70]:
# Save Cost of Living Data
col_data.to_csv('../data/cost_of_living_cleaned.csv', index=False)

# Save Minimum Wage Data
min_wage_data.to_csv('../data/minimum_wage_cleaned.csv', index=False)

# Save BLS Data
bls_data.to_csv('../data/bls_cleaned.csv', index=False)

# Save Provider Data
provider_data.to_csv('../data/provider_cleaned.csv', index=False)